---
---

@import "{{ site.theme }}";
body > header > h2 {
  display: none !important;
}
body > header > a {
  display: none !important;
}
summary {
  cursor: pointer;
}
summary:hover, summary:active {
  color: #1abf6c !important;
}
html, body, * {
  font-family: "apple color emoji","segoe ui emoji","noto color emoji","android emoji",emojisymbols,"emojione mozilla","twemoji mozilla","segoe ui symbol","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
