---
---

@import "{{ site.theme }}";
body > header {
  background: url(https://intro.lie.moe/Banner.JPG) no-repeat center / cover !important;
}
body > header > h2 {
  display: none !important;
}
body > header > a {
  display: none !important;
}
summary {
  cursor: pointer;
}
summary:hover, summary:active {
  color: #1abf6c !important;
}
html, body, * {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
}
